/* 기본 스타일 */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

/* 헤더 스타일 */
header {
  text-align: center;
  background-color: #0077b6;
  color: white;
  padding: 20px;
}

header img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  margin: 0.5rem 0;
}

/* 간단 소개 섹션 */
.intro {
  text-align: center;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  background-color: #e0f7fa; /* 연한 파란색 배경 */
  margin: 1rem 0;
  border-radius: 10px;
  color: #0077b6; /* 텍스트 색상 */
}

/* 연구 분야 */
section h2 {
  text-align: center;
  color: #0077b6;
}

section ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

section ul li {
  margin: 0 10px;
}

section ul li a {
  text-decoration: none;
  color: #0077b6;
}

section ul li a:hover {
  color: #005f8d;
}

/* 스킬 섹션 */
.skills {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  flex-wrap: wrap; /* 여러 줄로 정렬 */
  margin: 20px 0;
}

.skills div {
  text-align: center; /* 텍스트 정렬 */
  margin: 15px;
}

.skills img {
  width: 80px; /* 아이콘 크기 조정 */
  height: 80px; /* 아이콘 크기 조정 */
}

.skills p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

/* 푸터 스타일 */
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px 0;
}

footer a {
  color: #00b4d8;
  text-decoration: none;
}

footer a:hover {
  color: #90e0ef;
}