/* 전체 페이지 스타일 */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

/* 헤더 스타일 */
header {
  text-align: center;
  background-color: #0077b6;
  color: white;
  padding: 20px;
}

header img {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 10px;
}

header h1 {
  font-size: 2rem;
  margin: 10px 0;
}

header p {
  margin: 5px 0;
}

/* 연구 분야 섹션 */
section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* 항목 간 간격 */
  padding: 0;
}

section ul li {
  font-size: 1.2rem;
  color: #0077b6;
}

section ul li a {
  text-decoration: none;
  color: #0077b6;
}

section ul li a:hover {
  color: #005f8d;
}

/* 스킬 섹션 */
.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skills img {
  width: 80px;
  height: 80px;
}

.skills p {
  margin-top: 5px;
  font-size: 1rem;
  text-align: center;
}

.sub-text {
  color: gray; /* 글씨 색상을 회색으로 */
  font-size: 0.9rem; /* 글씨 크기를 줄임 */
  font-style: italic; /* 기울임체로 표시 (선택 사항) */
  display: block; /* 줄바꿈 처리 */
  margin-top: 5px; /* 위와 간격 추가 */
}

/* 푸터 스타일 */
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 20px 0;
}

footer a {
  color: #00b4d8;
  text-decoration: none;
}

footer a:hover {
  color: #90e0ef;
}